<h1 class="header">快速通道</h1>
<a href="index.html">首頁</a>
<a href="service.html">預約頁</a>
<a href="menu.html">菜單頁</a>
<a href="about.html">品牌關於頁</a>
<a href="login.html">會員頁</a>
<a href="ztestz.html">測試隨便用頁</a>