<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/logo.svg"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>品牌故事 | 默隅 Moonook</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="fcbg-50">背景色
      <!-- banner -->
      <div class="banner mb-12">
      </div>
      <!-- brand name -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 mb-12">
            <img src="/assets/images/name.png" class="w-100" alt="brandname">
          </div>
        </div>
      </div>
      <!-- 品牌故事 -->
      <div class="container mt-12 mb-12">
        <div class="position-relative">
          <div class="backimage z-n1 position-absolute top-0 start-0"></div>
          <div class=" title z-3 position-absolute start-50 mt-16">品牌故事</div>
          <div class="z-1 position-absolute top-0 start-0"></div>
          <div class="row justify-content-center">
            <div class="col-12">
              <img src="/assets/images/story-reading.jpg" class="w-100 shape mb-6" alt="story">
            </div>
          </div>
         <div class="row justify-content-center">
            <div class="col-8 ">
              <p class="intro text-center primary-500 mb-8">
                我們相信，安静是一種選擇，不是逃避喧囂，而是主動為自己留出空間
  </p>
              <p class="intro text-center primary-500 mb-5">「Moonook 默隅」的誕生，是因為我們觀察到一一</p>
              <p class="intro text-center primary-500 mb-5">在這個資訊不停湧入的時代，人們越來越難擁有一段完整、不中斷的時間
  而專注,</p>
              <p class="intro text-center primary-500 mb-8">也正變成一種被奢侈化的能力。</p>
              <p class="intro text-center primary-500 mb-5">我們不想創造一個「完美空間」，我們只想打造一個能讓人沉靜的空間</p>
              <p class="intro text-center primary-500 mb-5">讓你可以自在地投入,無論是工作、學習、創作，還是只是想安靜地坐一會兒。</p>
              <p class="intro text-center primary-500 mb-5">不是為了逃避，而是為了更好地出發。</p>
              <p class="intro text-center primary-500 mb-7">我們不喧嘩，但立場清晰。</p>
              <p class="h3 fw-bolder text-center primary-500 shadow-sm mb-6"> 這就是「Moonook 默隅」存在的理由。</p>
              <img src="../assets/images/twin-leaf.png" class="z2 position-absolute bottom-0 start-0" alt="twin-leafs">
            </div> 
          </div>
        </div>    
      </div>
      <!-- 品牌理念 -->
      <div class="container mt-12 mb-12">
        <div class="position-relative">
          <div class="backimage-1 z-n1 position-absolute top-0 end-0"></div>
          <div class=" title z-3 position-absolute start-50 mt-16">品牌理念</div>
          <div class="z-1 position-absolute top-0 start-0"></div>
          <div class="row justify-content-center">
            <div class="col-12">
              <img src="/assets/images/brandidea.jpg" class="w-100 shape-1 mb-6" alt="brandidea">
            </div>
          </div>
         <div class="row justify-content-center">
            <div class="col-8 ">
              <p class="intro text-center primary-500 mb-5">
                Shelter for Focus</p>
              <p class="intro text-center primary-500 mb-5">真正重要的事，值得被專心對待。</p>
              <p class="intro text-center primary-500 mb-8">而專注，需要被保護。</p>
              <p class="intro text-center primary-500 mb-5">Space，Held Simple</p>
              <p class="intro text-center primary-500 mb-5">我們不販售熱鬧，也不堆疊複雜。</p>
              <p class="intro text-center primary-500 mb-5">Moonook 默偶所重視的，是讓每個人都能好好使用自己的時間</p>
              <p class="intro text-center primary-500 mb-8">而空間，只是承載那份專注的載體。</p>
              <p class="intro text-center primary-500 mb-5">Quietly Considered</p>
              <p class="intro text-center primary-500 mb-5">空間裡的細節不只來自座位與光線</p>
              <p class="intro text-center primary-500 mb-5">有時,那份平衡，也來自一杯溫熱的飲品跟一道簡約的餐點</p>
              <p class="intro text-center primary-500 mb-8">當你需要短暫停頓，這些細節能讓節奏繼續，而不被打斷。</p>
              <p class="intro text-center primary-500 mb-5">A Moment，Yours</p>
              <p class="intro text-center primary-500 mb-5">而我們所做的，就是為這樣的專心，留出空間。</p>
              <img src="/assets/images/multiieafs.png" class="z2 position-absolute bottom-0 end-0" alt="twin-leafs">
            </div> 
          </div>
        </div>    
      </div>
      <!-- 服務特色 -->
      
      
      <div class="container mt-12">
        <div class="d-flex justify-content-center">
          <p class="section-title mb-8">服務特色</p>
        </div>
        <!-- <div class="position-relative"></div>
          <div class="backcolor-1 z-n1 position-absolute top-0 end-0"></div>
          <div class="z-1 position-absolute top-0 start-0"></div> -->
        <div class="position-relative">
          <div class="backcolor-1 z-n1 position-absolute top-0 end-0 mb-12"></div>  
            <div class="row">
                <div class="col-6">
                  <img src="/assets/images/hotel-3.jpg" class="w-100 p-6 rounded-4" alt="hotel-3">
                </div>
                <div class="col-6">
                  <div class="d-flex p-6">
                    <div class="p-8">
                      <p class="fs-2 mb-6">事前預約</p>
                      <p class="fs-2 ms-11">安心到場</p>
                    </div>
                    <img src="/assets/images/3dot.png" class="d-block p-8" alt="3dots">
                  </div>
                  <div class="card-intro p-8">
                    <p>你可以線上預約時段與座位，抵達前一切已安排好。</p>
                    <p>不必碰運氣，也不必等待。</p>
                  </div>
                </div>
              </div>
        </div> 
      </div>
    </div>




    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
